h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:red;
    margin: 10px 0px 0px 0px;
}
h2
{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    
}
ol{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;

}
.lin
{
    font-weight: bold;
    text-decoration: line-through;
}
.bg
{
    font-weight: bold;
    background-color: yellow;
}
ul{
    letter-spacing: 4px;
    color:darkred ;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dan
{
    background-color: yellow;
}
p
{
    color: darkred;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ban
{
    font-style: italic;
    background-color: yellow;
    color: red;
    font-weight: bold;
    font-size: 16px;
}

